<ul class="thumbnails koudoku-pricing-table">
  <% @plans.each do |plan| %>
    <li class="span3 plan <%= 'plan-primary' if plan.highlight? %>">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= plan.name %></h3>
          <h4><%= plan_price(plan, @subscription) %></h4>
          <div class="call-to-action">
            <% if @subscription.nil? %>
              <%= link_to Koudoku.free_trial? ? t('koudoku.plan_difference.start_trial') : t('koudoku.subscriptions.sign_up'), koudoku.new_subscription_path(plan: plan.id), class: "btn btn-success btn-large" %>
            <% elsif @subscription.persisted? && @subscription.plan.present? && !@subscription.plan.pwyc  %>
              <% if @subscription.plan == plan && !plan.pwyc %>
                <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
                  <%= f.submit t('koudoku.plan_difference.selected'), class: "btn btn-large", disabled: 'disabled' %>
                <% end %>
              <% else %>
                <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
                  <%= f.hidden_field :plan_id, value: plan.id %>
                  <%= f.submit @subscription.describe_difference(plan), class: "btn btn-success btn-large" %>
                <% end %>
              <% end %>
            <% else %>
                <% if @subscription.persisted? %>
                  <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
                    <% if plan.pwyc %>
                      $<%= f.number_field :quantity, value: (@subscription.quantity || 1) %>/<%= plan_interval(plan) %>
                      <br />
                    <% end %>
                    <%= f.hidden_field :plan_id, value: plan.id %>
                    <button class="btn btn-success btn-large">
                      <%= Koudoku.free_trial? ? t('koudoku.plan_difference.start_trial') : t('koudoku.plan_difference.upgrade') %>
                    </button>
                  <% end %>
                <% else %>
                  <%= form_for @subscription, url: new_owner_subscription_path(@owner), method: "GET" do |f| %>
                    <% if plan.pwyc %>
                      $<%= number_field_tag :quantity, 1 %>/<%= plan_interval(plan) %>
                      <br />
                    <% end %>
                    <%= hidden_field_tag :plan, plan.id %>
                    <button class="btn btn-success btn-large">
                      <%= Koudoku.free_trial? ? t('koudoku.plan_difference.start_trial') : t('koudoku.plan_difference.upgrade') %>
                    </button>
                  <% end %>
                <% end %>
            <% end %>
          </div>
          <ul class="features">
            <% if Koudoku.free_trial? %>
            <li class='muted'><%= t('koudoku.subscriptions.free_trial_for_days', :days => Koudoku.free_trial_length) %></li>
            <% end %>
            <%= BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1li>').html_safe %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>

  <li class="span3 social-proof">
    <%= render 'koudoku/subscriptions/social_proof' %>
  </li>
</ul>
