<blockquote>
<h4><%= t('koudoku.social_proof.testimonial1.quote') %></h4> &mdash; <%= t('koudoku.social_proof.testimonial1.person') %>
</blockquote>

<blockquote>
<h4><%= t('koudoku.social_proof.testimonial2.quote') %></h4> &mdash; <%= t('koudoku.social_proof.testimonial2.person') %>
</blockquote>

<blockquote>
<h4><%= t('koudoku.social_proof.testimonial3.quote') %></h4> &mdash; <%= t('koudoku.social_proof.testimonial3.person') %>
</blockquote>
